:root {
  --primary: #FF0080;
  --secondary: #40E0D0;
  --accent: white; /* This determines how your buttons are outlined */
}

body {
  background: linear-gradient(var(--primary), var(--secondary));
  color: var(--accent);
}

.btn-primary:hover {
  color: var(--primary);
  background: var(--accent);
  border-color: var(--accent)!important;
  transition: .8s;
}

html {
  background: var(--secondary);
}

.border.rounded-circle{
  border: 0px!important;
}

.btn-primary {
  color: var(--accent);
  font-size: 16px;
  height: 60px;
  background-color: transparent;
  height: 40px;
  width: 100%;
  font-family: Montserrat;
  margin-bottom: 15px;
  border-color: var(--accent)!important;
}

footer {
  position: absolute;
  margin-bottom: 10px;
  bottom: 0px;
  color: var(--accent);
}

footer a {
  color: var(--accent);
}

footer a:hover {
  color: var(--primary);
  transition: .8s;
  text-decoration: none;
}
